@model IEnumerable<NhaSachOnlineTrangAdmin.Models.Domain.Publisher>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <a href="/Publisher/Add" class="btn btn-primary">
        <i class="bi bi-list"></i> Thêm Nhà Xuất Bản
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Danh sách các nhà xuất bản</h3>
      <table class="table table-striped table-bordered table-dark">
        <thead>
          <tr>
            <th>Publisher Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>@item.PublisherName</td>
              <td>
                <a href="/Publisher/Update?id=@item.Id" class="btn btn-primary">
                  Update
                </a>
                <a href="/Publisher/Delete?id=@item.Id" class="btn btn-danger" onclick="return window.confirm('Bạn có chắc chắn muốn xóa không?')">
                  Delete
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>